<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../../../../assets/css/styles.css">
</head>

<body>
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>회원가입</strong></h2>
                <div class="mb-3"><input class="form-control" type="text" name="id" placeholder="아이디"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="패스워드"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password-repeat" placeholder="패스워드 확인"></div>
                <div class="mb-3">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">이그라인 이용약관 동의</label></div>
                </div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">회원가입</button></div>
            </form>
        </div>
    </section>
    <script src="../../../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>